@import "tailwindcss";

@theme {
  --color-primary: #13ec13;
  --color-primary-dark: #0fb80f;
  --color-background-light: #f6f8f6;
  --color-background-dark: #102210;
  --color-neutral-light: #f1f5f1;
  --color-neutral-dark: #1a2e1a;
  --color-border-light: #e2e8f0;
  --color-border-dark: #2d3f2d;
  --font-display: "Inter", sans-serif;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
}

.custom-scrollbar::-webkit-scrollbar { width: 6px; }
.custom-scrollbar::-webkit-scrollbar-track { background: transparent; }
.custom-scrollbar::-webkit-scrollbar-thumb { background: #cbd5e1; border-radius: 10px; }
.custom-scrollbar::-webkit-scrollbar-thumb:hover { background: #94a3b8; }
